@{
    ViewData["Title"] = "Contador";
}

<div class="text-center">
    <div class="container-fluid d-flex flex-row p-0">
        <main class="page-content bg-white rounded shadow-sm px-4 py-3">
            <div class="container d-flex flex-row p-0 m-0">
                <button type="button" class="btn p-0 bg-info" style="--bs-bg-opacity: .5;">
                    <i class="bi bi-chevron-left h1 px-1 rounded align-content-center" style=""></i>
                </button>
                <div class="container">
                    <h5 class="text-start m-0" style="color:#2a3671;">Nombre del contador</h5>
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><i class="bi bi-geo-alt py-1 text-secondary"></i> Finca</li>
                            <li class="breadcrumb-item">Atlas</li>
                            <li class="breadcrumb-item">Nombre de Atlas</li>
                            <li class="breadcrumb-item" style="color:#2a3671;"><b>Nombre del contador</b></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="container-fluid bg-secondary p-2 rounded mx-0 mt-2 mb-4" style="--bs-bg-opacity: .1;">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="card">
                            <h5 style="color:#2a3671;">500 m<sup>3</sup>/h</h5>
                            <p style="color:#2a3671;"><small>Caudal instantáneo</small></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h5 style="color:#2a3671;">500 m<sup>3</sup></h5>
                            <p style="color:#2a3671;"><small>Acumulado 24h</small></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h5 style="color:#2a3671;">2500 m<sup>3</sup></h5>
                            <p style="color:#2a3671;"><small>Acumulado total</small></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <h5 style="color:#2a3671;">30 m<sup>3</sup>/h</h5>
                            <p style="color:#2a3671;"><small>Caudal nominal</small></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card d-flex flex-row px-2">
                            <div class="col text-start">
                                <span class="badge rounded-pill bg-success text-success" style="--bs-bg-opacity: .1;">Tiempo real</span>
                                <p class="text-start" style="color:#2a3671;">Atlas 01<br><small>Salida conector 1</small></p>
                            </div>
                            <div class="col text-end">
                                <span class="badge rounded-pill bg-success text-success" style="--bs-bg-opacity: .1;color:#2a3671;"><i class="bi bi-battery-full"></i> 99% <i class="bi bi-reception-4"></i></span>
                                <p class="text-end" style="color:#2a3671;">123456789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid d-flex flex-row p-0">
                <div class="container p-0 col-8 pe-5">
                    <!-- Sección del gráfico y tipo de gráfico -->
                    <div class="container d-flex flex-column p-0 mb-5">
                        <label for="tipo-grafico" class="text-start" style="color:#2a3671;">Tipo de gráfico</label>
                        <select id="tipo-grafico" class="form-select w-50" aria-label="Selección de tipo de gráfico" style="color:#2a3671;">
                            <option value="Acumulado" selected="">Acumulado</option>
                            <option value="Caudal">Caudal</option>
                        </select>
                    </div>
                    <div id="devexpress-container"></div>
                  </div>
                <div class="container col-4 p-0">
                    <!-- Sección de última conexión, 24 h, mensaje etc-->
                    <div class="container d-flex flex-row justify-content-end p-0">
                        <div class="d-flex flex-column  justify-content-center">
                            <p class="text-end mb-0 align-center" style="color:#2a3671;"><b>Última conexión:</b> 02/11/2023 11:30:22<br><i class="bi bi-globe-americas"></i> GMT Finca: +01</p>
                        </div>
                        <button id="btn-refresh-data" type="button" class="btn bg-info " style="color:#2a3671;--bs-bg-opacity: .5;">
                            <i class="bi bi-arrow-repeat h1  px-1 rounded align-content-center"></i>
                        </button>
                    </div>
                    <div id="graph-time-intervals" class="list-group list-group-horizontal">
                        <button type="button" class="list-group-item list-group-item-action active" aria-current="true" style="color:#2a3671;">24 H</button>
                        <button type="button" class="list-group-item list-group-item-action" style="color:#2a3671;">48 H</button>
                        <button type="button" class="list-group-item list-group-item-action" style="color:#2a3671;">7 D</button>
                        <button type="button" class="list-group-item list-group-item-action" style="color:#2a3671;">30 D</button>
                        <button id="btn-custom-date-range" type="button" class="list-group-item list-group-item-action" style="color:#2a3671;"><i class="bi bi-calendar3 py-1 text-secondary" style="color:#2a3671;"></i></button>
                    </div>
                    <div id="date-selection-container" class="d-none flex-column align-items-center">
                        <p id="date-selection-label"></p>
                        <div id="date-selection"></div>
                    </div>
                    <table id="logs-table" class="table">
                        <thead>
                            <tr>
                                <th style="color:#2a3671;">
                                    <i class="bi bi-database py-1 text-secondary" style="color:#2a3671;"></i>
                                </th>
                                <th class="text-start" style="color:#2a3671;">Mensaje</th>
                                <th style="color:#2a3671;">Dato</th>
                                <th style="color:#2a3671;">Fecha</th>
                            </tr>
                        </thead>
                        <tbody><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>10:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>09:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>08:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>07:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>06:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>05:30:45</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>04:30:45</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>03:30:45</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>02:30:45</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>01:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>00:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/24/2024<br>23:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>22:30:43</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>21:30:45</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>20:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>19:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>18:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>17:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>16:30:45</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>15:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>14:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>13:30:45</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>12:30:44</td></tr><tr><td><i class="bi bi-person py-1 text-secondary"></i></td><td class="text-start">Crear alarma</td><td></td><td class="text-end">11/23/2024<br>11:30:44</td></tr></tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>

